<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>My Portfolio</title>
</head>
<body>
    <nav>
        <div class="logo">
            Rafi&nbsp;Mauludi
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <div class="social-media">
        <ul>
            <li><img src="" alt=""></li>
        </ul>
    </div>
    <!-- bagian heading top -->
    <div class="heading">
        <h1>Hi, I'am Rafi Mauludi</h1>
        <h2>System Engineer</h2>
        <p>Medium level experience in web development, Cloud Computing, Network Engineer and DevOps. IT enthusiast.</p>
        <button>Contact Me</button>
    </div>


    <!-- bagian about page -->
    <div class="about">
        <h1>About Me</h1>
        <div class="text-box-about">
            <h3>Iam Is...</h3>
            <p>I gradute from Wikrama Bogor vocational high school. I'am majoring in Computer and Network Engineering. I have a spirit to improve my skill in information technology, adaptable, and teamwork.</p>
        </div>
    </div>
</body>
</html>